.colorbody {
	background-color: #131313;
	/*color: white;*/
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    /*background-color: #F07575;*/ /* Fallback color if gradients are not supported */
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Firefox (3.6 to 15) */
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of Internet Explorer  10*/
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */
    background-image: url(../images/select-arrow.png), linear-gradient(top bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    /*color: #555;*/
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.homepage-movie-cards, .seat-cards {
  border-width: 0px;
  background-color: inherit !important;
}
/* not active */
.container-image {
  position: relative;
  width: 50%;
}
.cinema{
  width: 25%;
}
.datedate{
  width: 25%;
}
.timetime{
  width: 25%;
}

.dropdown{
	/*display: inline;*/
	position: relative;
  text-align: center;
}
.modal .modal-footer {
  background: grey;
}
#navbarMain {
  background-color: #0f0f0f !important;
}

a.navbar-brand span {
  color: #04ffa8;
}
.badge-class{
	float: right;
}
.button5:hover {
  background-color: red;
  color: white;
}

.button1:hover {
  background-color: blue;
  color: white;
}
.button2:hover {
  background-color: red;
  color: white;
}
h6{
  font-style: bold;
}
.button {
  background-color: transparent; /* Green */
  border: none;
  color: white;
  padding: 5px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.button-class{
	margin-top: 10px;
	border-radius: 2%;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-image:hover .image {
  opacity: 0.3;
}

.container-image:hover .middle {
  opacity: 1;
}

.text {
  color: white;
}