/* Navbar */
#navbarMain {
	background-color: #0f0f0f !important;
}

a.navbar-brand span {
	color: #04ffa8;
}

/* Body */
body {
	background-color: #131313;
	color: white;
}

/* Home page */
.headings {
	font-weight: 200;
}

.homepage-tabs {
	width: 9em;
}

.now-showing {
	color: white;
	font-weight: 200;
}

.btn-outline-light.homepage-tabs {
	color: darkgray;
}

.btn-outline-light.homepage-tabs:hover {
	color: black;
}

.carousel-inner {
	height: 45vh;
}

.movies-now-showing {
	opacity: 0;
}

.movies-now-showing:hover {
	transition: .25s ease;
	background-color: #13131375;
	opacity: 1;
}

.showing-datetime {
	font-size: .8em;
}

.homepage-movie-cards, .seat-cards {
	border-width: 0px;
	background-color: inherit !important;
}

/* Seatplan */

.seat-cards .card-img {
	border-radius: calc(.8rem - .5px);
}

.seat-number p {
	font-weight: 350;
	font-family: monospace;
	color: #ffffff63;
}

.seat-cards p:hover {
	color: #ffffff;
	cursor: pointer;
}

#cinemaScreen {
	background-color: #bababa;
	height: 1.5em;
}

@media screen and (min-width: 640px) {
  #seatPlan {
    max-height: 75vh;
  }
}