/* Navbar */
#navbarMain {
	background-color: #0f0f0f !important;
}

a.navbar-brand span {
	color: #04ffa8;
}

/* Body */
body {
	background-color: #131313;
	color: white;
}

/* Home page */
.headings {
	font-weight: 200;
}

.homepage-tabs {
	width: 9em;
}

.now-showing {
	color: white;
	font-weight: 200;
}

.btn-outline-light.homepage-tabs {
	color: white;
}

.btn-outline-light.homepage-tabs:hover {
	color: black;
}

.carousel-inner {
	height: 60vh;
}

.movies-now-showing {
	opacity: 0;
}

.movies-now-showing:hover {
	transition: .25s ease;
	background-color: #13131375;
	opacity: 1;
}

.showing-datetime {
	font-size: .8em;
}

.homepage-movie-cards, .seat-cards {
	border-width: 0px;
	background-color: inherit !important;
}

/* Seatplan page */
.seat-cards {
	opacity: 0.95;
}

.seat-cards p:hover {
	color: #ffffff;
}

.seat-cards:hover {
	opacity: 1;
	cursor: pointer;
}

.seat-taken, .seat-taken:hover {
	opacity: 0.65;
}

.seat-cards .card-img {
	border-radius: calc(.8rem - .5px);
}

.seat-number p {
	font-weight: 350;
	font-family: monospace;
	color: #ffffff63;
}

#cinemaScreen {
	background-color: #cffff3;
	height: 1.25em;
}

.popcorn {
	width: 65%;
}

#seatplanForm {
	font-size: 0.8em;
}

#legend {
	bottom: 0;
}

.legend {
	width:1.25em;
	background-color: #840b15;
	border-radius: calc(.8rem - .5px);
}

.legend-available {
	background-color: #e20b1c;
	height: 1.25em;
}

hr {
	border-color: white;
}

.form-control-plaintext, #totalAmount {
	color: white;
	font-size: 1.5em;
	font-weight: 200;
}

@media screen and (min-width: 640px) {
  #seatPlan {
    max-height: 75vh;
  }
}